<!-- Card header -->
<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
    <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">Title goes here</h2>
        <span class="pmd-card-subtitle-text">Secondary text</span>
    </div>
</div>

<!-- Card body --> 
<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
    <div class="pmd-card-body"> Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions. </div>
</div>

<!-- Card action -->
<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
    <div class="pmd-card-actions">
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button>
    </div>
</div>

<!-- Card media -->
<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
    <div class="pmd-card-media"><img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png"></div>
</div>

<!-- Card media actions -->
<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
    <div class="pmd-card-actions">
        <span>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
        </span>
    </div>
</div>