<!--Media and Description area -->
<div class="pmd-card pmd-card-default pmd-z-depth">

	<!-- Card media -->
    <div class="pmd-card-media">
        <img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png">
    </div>
    
    <!-- Card body -->
    <div class="pmd-card-body">
        Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
    </div>
</div>

<!--Media and Action area -->
<div class="pmd-card pmd-card-default pmd-z-depth">
	<!-- Card media -->
    <div class="pmd-card-media">
        <img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png">
    </div>
    
    <!-- Card media actions -->
    <div class="pmd-card-actions">
        <span>
            <button type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">share</i></button>
            <button type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">thumb_up</i></button>
            <button type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">drafts</i></button>
        </span>
    </div>
</div>