<!--Media, and Action area -->
<div class="pmd-card pmd-card-default pmd-z-depth">

    <div class="pmd-card-body">
    	<!-- Card media -->
        <div class="media-body">
            <a href="javascript:void(0);">
                <img width="330" height="228" src="http://propeller.in/assets/images/profile-pic.png">
            </a>
        </div>
        
        <!-- Card media actions -->
        <div class="media-right">
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
        </div>
    </div>
</div>

<!--Title, Media, and Action area -->
<div class="pmd-card pmd-card-media-inline pmd-z-depth">
	<!-- Card media -->
    <div class="pmd-card-media">
    	<!-- Card media heading -->
        <div class="media-body">
            <h2 class="pmd-card-title-text">Title goes here</h2>
            <span class="pmd-card-subtitle-text">Secondary text</span>	
        </div>
        
        <!-- Card media image -->
        <div class="media-right media-middle">
            <a href="javascript:void(0);">
                <img width="152" height="152" src="http://propeller.in/assets/images/profile-pic.png">
            </a>
        </div>
    </div>
    
    <!-- Card action -->
    <div class="pmd-card-actions">
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button>
    </div>
</div>