// Genral style of mizins and variables
@import "../../../scss/functions.scss";
@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

// components style
@import "../../../scss/_dropdown.scss";