<!-- Snap Scrollbar -->
<div id="content-9" class="pmd-scrollbar vertical-images">
    <ul>
        <li><h3>Snap scrolling to images <br />theme: "rounded" with buttons</h3><hr></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img3.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img4.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img5.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img6.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img7.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img1.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img2.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img3.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img4.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img5.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img6.jpg" /></li>
        <li><img src="../../custom-scrollbar/components/custom-scrollbar/images/img7.jpg" /></li>
    </ul>
</div>