<!-- Shadow varients -->
<div class="pmd-card-body">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-6">
         <!--pmd-z-depth-->
           <p class="pmd-z-depth shadow-demo">pmd-z-depth</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
           <!--pmd-z-depth-1-->
           <p class="pmd-z-depth-1 shadow-demo">pmd-z-depth-1</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
           <!--pmd-z-depth-2-->
           <p class="pmd-z-depth-2 shadow-demo">pmd-z-depth-2</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
           <!--pmd-z-depth-3-->
           <p class="pmd-z-depth-3 shadow-demo">pmd-z-depth-3</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
           <!--pmd-z-depth-4-->
           <p class="pmd-z-depth-4 shadow-demo">pmd-z-depth-4</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
           <!--pmd-z-depth-5-->
           <p class="pmd-z-depth-5 shadow-demo">pmd-z-depth-5</p>
        </div>
    </div>
</div>