<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Propeller css-->
<link rel="stylesheet" href="http://propeller.in/assets/css/propeller.min.css">

<!-- Latest Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Propeller Latest compiled and minified JavaScript -->
<script src="http://propeller.in/assets/js/propeller.min.js"></script>