<!--Inline Radio button-->
<label class="radio-inline pmd-radio pmd-radio-pmd-ripple-effect">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <span for="inlineRadio1">1</span>
</label>
<label class="radio-inline pmd-radio pmd-radio-pmd-ripple-effect">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <span for="inlineRadio2">2</span>
</label>
<label class="radio-inline pmd-radio pmd-radio-pmd-ripple-effect">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
    <span for="inlineRadio3">3</span>
</label>