 <!-- Simple radio with label -->                       
<div class="radio">
    <label class="pmd-radio pmd-radio-pmd-ripple-effect">
        <input type="radio" name="optionsRadios" id="click" value="option1">
        <span for="click">Option one is this and that&mdash;be sure to include why it's great</span>
    </label>
</div>

<!-- Radio button checked --> 
<div class="radio">
    <label class="pmd-radio pmd-radio-pmd-ripple-effect">
        <input type="radio" name="optionsRadios" id="click1" value="option1" checked>
        <span for="click1">Option one is this and that&mdash;be sure to include why it's great</span>
    </label>
</div>

<!-- Radio button disable --> 
<div class="radio disabled">
    <label class="pmd-radio pmd-radio-pmd-ripple-effect">
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
        <span for="optionsRadios3">Option three is disabled</span>
    </label>
</div>   