<!-- Simple alert -->
<button data-target="#simple-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Simple Alert</button>

<!-- Dialog Simple Alert-->
<div tabindex="-1" class="modal fade" id="simple-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>E dolore commodo, id anim aute sint cupidatat eu est anim tamen ad possumus,
                legam officia firmissimum. Eram deserunt domesticarum, iis ita praetermissum,
                nam aliquip quo probant, incididunt et occaecat an nam enim exquisitaque a
                nescius velit admodum, non ad cohaerescant, probant o nulla tempor. Aute aut te
                quis arbitror ubi ne aliqua consequat aliquip. Ad sunt laborum senserit, de do
                quem possumus. Sint tractavissent cupidatat aute possumus ita elit ad cupidatat.</p>
            </div>
        </div>
    </div>
</div>
<!-- Dialog Simple Alert-->