<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
        <title>Toggle Button</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/propeller-global.css" />
        <link rel="stylesheet" type="text/css" href="css/toggle-switch.css">
    </head>
    <body>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-push-3">
					<h3>Toggle Button</h3>
					<div class="pmd-card pmd-z-depth">
						<div class="pmd-card-body">
							<div class="pmd-switch">
								<label>
									<input type="checkbox">
									<span class="pmd-switch-label"></span>
								</label>
							</div>
							<br>
							<div class="pmd-switch">
								<label>
									<input type="checkbox">
									<span class="pmd-switch-label"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	
	</body>
</html>

