<!--Static progressbar of varying colors -->

<!-- Static progressbar of green color -->   
<div class="progress-rounded progress pmd-progress"><div class="progress-bar progress-bar-success" style="width: 34%;"></div></div>

<!-- Static progressbar of blue color -->
<div class="progress-rounded progress pmd-progress"><div class="progress-bar progress-bar-info" style="width: 68%;"></div></div>

<!-- Static progressbar of yellow color -->
<div class="progress-rounded progress pmd-progress"><div class="progress-bar progress-bar-warning" style="width: 52%;"></div></div>

<!-- Static progressbar of red color -->
<div class="progress-rounded progress pmd-progress"><div class="progress-bar progress-bar-danger" style="width: 77%;"></div></div>