<!--Striped progressbar of varying colors -->   

<!-- Striped progressbar of green color -->   
<div class=" progress-rounded progress progress-striped pmd-progress"><div class="progress-bar progress-bar-success" style="width: 34%;"></div></div>

<!-- Striped progressbar of blue color -->
<div class=" progress-rounded progress progress-striped pmd-progress"><div class="progress-bar progress-bar-info" style="width: 68%;"></div></div>

<!-- Striped progressbar of yellow color -->
<div class=" progress-rounded progress progress-striped pmd-progress"><div class="progress-bar progress-bar-warning" style="width: 52%;"></div></div>

<!-- Striped progressbar of red color -->
<div class=" progress-rounded progress progress-striped pmd-progress"><div class="progress-bar progress-bar-danger" style="width: 77%;"></div></div>