<!doctype html>
<html><head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>Menu</title>

<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="../../typography/css/typography.css">
<link rel="stylesheet" type="text/css" href="../css/navbar.css">
<link rel="stylesheet" type="text/css" href="../../dropdown/css/dropdown.css">
<link rel="stylesheet" type="text/css" href="../../button/css/button.css">
<!-- Google icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../icons/css/google-icons.css">

</head>

<body>

	<!-- Nav menu with user information -->
	<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
		<div class="container-fluid">
			<!-- User information -->
			<div class="dropdown pmd-dropdown pmd-user-info pull-right">
				<a href="javascript:void(0);" class="btn-user dropdown-toggle media" data-toggle="dropdown" aria-expanded="false">
					<div class="media-left">
						<img src="../../../assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">
					</div>
					<div class="media-body media-middle">
						User
					</div>
					<div class="media-right media-middle">
						<i class="material-icons md-light pmd-sm">more_vert</i>
					</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li><a href="javascript:void(0);">Edit Profile</a></li>
					<li><a href="javascript:void(0);">Logout</a></li>
				</ul>
			</div>
		
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <a href="javascript:void(0);" class="navbar-brand navbar-brand-custome">Brand</a>
			</div>
		</div>
		<div class="pmd-sidebar-overlay"></div>
	</nav>

	<script src="../../../assets/js/jquery.js"></script>
	<script src="../../../assets/js/bootstrap.js"></script>
	<script src="../../sidebar/js/sidebar.js"></script>
	<script src="../../../assets/js/propeller.min.js"></script>

</body>
</html>
