<!-- Nav menu with side menu -->
<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button class="pmd-ripple-effect navbar-toggle pmd-navbar-toggle" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a href="javascript:void(0);" class="navbar-brand navbar-brand-custome">Brand</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pmd-navbar-sidebar">
		  <div class="dropdown pmd-dropdown pmd-user-info pull-right">
			  <a href="javascript:void(0);" class="btn-user dropdown-toggle media" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
				  <div class="media-left">
					  <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">
				  </div>
				<div class="media-body media-middle">
					User
				</div>
				<div class="media-right media-middle">
					<i class="material-icons md-dark pmd-sm">more_vert</i>
				</div>
			  </a>
			  <ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li><a href="javascript:void(0);">Edit Profile</a></li>
				<li><a href="javascript:void(0);">Logout</a></li>
			  </ul>
			</div>
		  <ul class="nav navbar-nav">
			<li><a class="pmd-ripple-effect" href="javascript:void(0);">Link <span class="sr-only">(current)</span></a></li>
			<li><a class="pmd-ripple-effect" href="javascript:void(0);">Link</a></li>
			<li class="dropdown pmd-dropdown">
			  <a data-toggle="dropdown" class="pmd-ripple-effect dropdown-toggle" data-sidebar="true" href="javascript:void(0);">Dropdown <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Action</a></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Another action</a></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Something else here</a></li>
				<li class="divider"></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Separated link</a></li>
				<li class="divider"></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">One more separated link</a></li>
			  </ul>
			</li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a class="pmd-ripple-effect" href="javascript:void(0);">Link</a></li>
			<li class="dropdown pmd-dropdown">
			  <a aria-expanded="false" role="button" data-toggle="dropdown" data-sidebar="true" class="pmd-ripple-effect dropdown-toggle" href="javascript:void(0);">Dropdown <span class="caret"></span></a>
			  <ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Action</a></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Another action</a></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Something else here</a></li>
				<li class="divider"></li>
				<li><a class="pmd-ripple-effect" href="javascript:void(0);">Separated link</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	<div class="pmd-sidebar-overlay"></div>
</nav>