<!--Disabled slider with Multiple Handler -->

<!-- Slider -->
<div id="disable-multiple" class="pmd-range-slider"></div>

<!-- Left checkbox -->
<label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
    <input type="checkbox" value="" id="multiple-checkbox-left">
    <span>Disable left handle</span>
</label>

<!-- Right checkbox -->
<label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
    <input type="checkbox" value="" id="multiple-checkbox-right">
    <span>Disable Right handle</span>
</label>
