<!-- Default Vertical Range Slider -->
<div id="pmd-ver-slider-range"  class="pmd-range-slider"></div>

<!-- Vertical range slider with visible tooltip on left -->
<div id="pmd-ver-slider-range-tooltip"  class="pmd-range-slider pmd-range-tooltip"></div>

<!-- Vertical range slider with lower handler tooltip towards right and upper handler tooltip towards left -->
<div id="pmd-ver-slider-range-tooltip-lower-right"  class="pmd-range-slider pmd-range-tooltip pmd-range-tooltip-bottom-right"></div>

<!-- Vertical range slider with lower handler tooltip towards left and upper handler tooltip towards right -->
<div id="pmd-ver-slider-range-tooltip-upper-right"  class="pmd-range-slider pmd-range-tooltip pmd-range-tooltip-top-right"></div>
									
