<!-- Single Handler Vertical Slider -->
<div id="pmd-ver-slider" class="pmd-range-slider"></div>

<!-- Single Handler Vertical Slider with steps -->
<div id="pmd-ver-slider-step" class="pmd-range-slider"></div>

<!-- Single Handler Vertical Slider with visible tooltip -->
<div id="pmd-ver-slider-tooltip"  class="pmd-range-slider pmd-range-tooltip"></div>

<!-- Single Handler Vertical Slider with visible tooltip at right -->
<div id="pmd-ver-slider-tooltip-right"  class="pmd-range-slider pmd-range-tooltip pmd-range-tooltip-right"></div>
									