<!-- Large Input -->
<div class="form-group pmd-textfield form-group-lg">
	<label for="Large" class="control-label">Large input</label>
	<input type="Large" id="regular1" class="form-control input-group-lg" placeholder=".input-lg">
	</div>
<!-- Default Input -->
<div class="form-group pmd-textfield">
	<label for="Default" class="control-label">Default input</label>
	<input id="Default" class="form-control" type="text" placeholder="Default input">
	</div>
<!-- Small Input -->
<div class="form-group pmd-textfield form-group-sm">
	<label for="Small">Small input</label>
	<input type="text" id="Small" class="form-control" placeholder=".input-sm">
</div>

<!-- Large Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label form-group-lg">
	<label for="Large" class="control-label">Large input</label>
	<input type="Large" id="regular1" class="form-control input-group-lg">
</div>
<!-- Default Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label for="Default" class="control-label">Default input</label>
	<input id="Default" class="form-control" type="text">
</div>
<!-- Small Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label form-group-sm">
	<label for="Small">Small input</label>
	<input type="text" id="Small" class="form-control" >
</div>