<!-- Disabled Input -->
<div class="form-group pmd-textfield">
  <label for="first-name" class="control-label">
    Disabled state
  </label>
  <input type="text" disabled="" value="Disabled value" id="disabled" class="mat-input form-control">
</div>
<!-- Readonly Input -->
<div class="form-group pmd-textfield">
  <label for="first-name" class="control-label">
    Readonly input
  </label>
  <input type="text" readonly="" value="Readonly input" id="first-name" class="mat-input form-control">
</div>