<!-- warning Input -->
<div class="form-group pmd-textfield has-warning">
  <label for="inputWarning1" class="control-label">
    Warning label
  </label>
  <input type="text" value="" id="inputWarning1" class="form-control">
</div>

<!-- Success Input -->
<div class="form-group pmd-textfield has-success">
  <label for="inputSuccess1" class="control-label">
    Success label
  </label>
  <input type="text" id="inputSuccess1" class="form-control">
</div>
<!-- Error Input -->
<div class="form-group pmd-textfield has-error">
  <label for="inputError1" class="control-label">
    Error label
  </label>
  <input type="email" required class="form-control">
</div>
<!-- warning floating Input -->
<div class="form-group pmd-textfield has-warning pmd-textfield-floating-label">
  <label for="inputWarning1" class="control-label">
    Warning label
  </label>
  <input type="text" value="" id="inputWarning1" class="form-control">
</div>
<!-- Success floating Input -->
<div class="form-group pmd-textfield has-success pmd-textfield-floating-label">
  <label for="inputSuccess1" class="control-label">
    Success label
  </label>
  <input type="text" id="inputSuccess1" class="form-control">
</div>
<!-- Error floating Input -->
<div class="form-group pmd-textfield has-error pmd-textfield-floating-label">
  <label for="inputError1" class="control-label">
    Error label
  </label>
  <input type="email" required class="form-control">
</div>