<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../assets/css/propeller-global.css" type="text/css" rel="stylesheet" />
<title>Propeller Library</title>
<style>

h2 { font-weight:500; font-size:36px; text-align:center; text-transform:uppercase;}
h2 span{ font-weight:200;}
h2 p{ display:block; text-transform:initial; padding:0; margin:0; font-size:27px; line-height:30px; font-weight:300;}
ul { padding: 0 30px; margin: 0 auto; list-style: none;}
li { padding: 10px 0; border-bottom: 1px dotted #cccccc; text-align:left;}
li.title { font-size: 20px; color: #000000; border-bottom: none; }
a { color: #000000; opacity: 0.6; text-decoration: none; }
a.hover { color: #000000; opacity: 1;}
.btn{ text-align:left;}
</style>
</head>

<body>
<div class="container">
	<div class="col-sm-6 col-sm-push-3 pmd-z-depth">
		
			<div class="component">
  				<h2><span>D</span><b>Material</b> <p>Element Library</p></h2>
				  <div class="pmd-card">
					 <ul>
						<ol>
							<li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="button/button.html">Buttons</a></li>
							<li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="card/card.html">Card <small>(Added New Card)</small></a></li>
							<li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="tab/tabs.html">Tabs <small>(Modification)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="table/table.html">Tables <small>(Added Variation)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="data-table/data-table.html">Data Table <small>(New)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="sidebar/sidebar.html">Sidebar <small>(Added Variation)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="alert/alerts.html">Alerts <small>(New)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="list/index.html">List</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="accordion/accordion.html">Accordion <small>(Added Variation)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="navbar/navbar.html">Menu <small>(Modification)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="tooltip/tooltip.html">Tooltip <small>(New)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="modal/modal.html">Dialog <small>(Added Variation)</small></a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="dropdown/dropdown.html">Dropdown</a></li>
							  <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="datetimepicker/datetimepicker.html">Datepicker</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="floating-action-button/floting-button.html">Floating Button</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="checkbox/checkbox.html">Checkbox</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="radio/radio.html">Radio</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="textfield/textbox.html">Text-Field</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="textarea/textarea.html">Text-Area</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="select-box/selectbox.html">Selectbox (Chosen)</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="select2/select2.html">Selectbox (Select2) <small>New</small></a></li>
							 
							 
							 
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="icons/index-fonts.html">Icons</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="progressbar/linear-progress-indeterminant.html">Progressbar</a></li>
							 
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="range-slider/range-slider.html">Range-Slider</a>

                             </li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="toggle-switch/toggle-button.html">Toggle-Button</a>
                             </li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="typography/typography.html">Typography</a></li>
							 <li><a class="btn pmd-btn-flat pmd-ripple-effect btn-link" target="_blank" href="custom-scrollbar/basic-scroll.html">Custom Scroll</a></li>
							 
						 </ol>
					 </ul>
				</div>		
			</div>
		</div>
	</div>
    
<script type="text/javascript" src="../assets/js/jquery.js"></script>
<script>
	// pmd-ripple-effect animation
(function($) {
    $(".pmd-ripple-effect").mousedown(function(e){
        var rippler = $(this);

        // create .ink element if it doesn't exist
        if(rippler.find(".ink").length == 0) {
            rippler.append("<span class='ink'></span>");
        }

        var ink = rippler.find(".ink");

        // prevent quick double clicks
        ink.removeClass("animate");

        // set .ink diametr
        if(!ink.height() && !ink.width())
        {
            var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
            ink.css({height: d, width: d});
        }

        // get click coordinates
        var x = e.pageX - rippler.offset().left - ink.width()/2;
        var y = e.pageY - rippler.offset().top - ink.height()/2;

        // set .ink position and add class .animate
        ink.css({
          top: y+'px',
          left:x+'px'
        }).addClass("animate");
    })
})(jQuery);
</script>
</body>
</html>
