<!--Display a success alert containing a link -->
<div class="alert alert-success" role="alert">
	Well done! You successfully read <a href="javascript:void(0);" class="alert-link">this important alert message</a>.
</div>

<!--Display an information alert containing a link -->
<div class="alert alert-info" role="alert">
	Heads up! This <a href="javascript:void(0);" class="alert-link">alert needs your attention</a>, but it's not super important.
</div>

<!--Display a warning alert containing a link -->
<div class="alert alert-warning" role="alert">
	 Warning! Spyware detected on your system..
</div>

<!--Display a danger alert containing a link -->
<div class="alert alert-danger" role="alert">
	Oh snap! <a href="javascript:void(0);" class="alert-link">Change a few things up</a> and try submitting again.
</div>
