<!-- Display popover to the left -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised notification-trigger" data-trigger="click" data-toggle="popover" data-placement="left" data-content="Popover Left">Left</button>

<!-- Display popover to the top -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised notification-trigger" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Popover top">Top</button>

<!-- Display popover to the bottom -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised notification-trigger" data-trigger="click" data-toggle="popover" data-placement="bottom" data-content="Popover Bottom">Bottom</button>

<!-- Display popover to the right -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised notification-trigger" data-trigger="click" data-toggle="popover" data-placement="right" data-content="Popover Right">Right</button>