<!--Un-styled list-->
<ul class="list-unstyled">
    <li>Bootstrap makes front-end web development faster and easier.</li>
    <li>It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.</li>
    <li>Bootstrap:
        <ul>
            <li>Preprocessors</li>
            <li>One framework, every device.</li>
            <li>Full of features</li>
            <li>Ac tristique libero volutpat at</li>
        </ul>
    </li>
    <li>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, Less and Sass.</li>
    <li>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</li>
    <li>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</li>
</ul>