/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

HTML{ font-size:16px;}

/* Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: normal;}

/* Font size and color according to Google Material */
h1, .h1 { font-size: 1.5rem;}
h2, .h2 { font-size: 1.25rem; font-weight:500;}
h3, .h3 { font-size: 1rem;}
h4, .h4 { font-size: 0.8125rem; font-weight:500;}
h5, .h5 { font-size: 0.8125rem;}