<!doctype html>
<html lang="">
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Propeller is a front-end responsive framework based on Material design & Bootstrap.">
	<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>Navbar - Propeller Components</title>
    
    
	<!-- favicon --> 
	<link rel="icon" href="http://propeller.in/assets/images/favicon.ico" type="image/x-icon">
	
	<!-- Bootstrap --> 
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> 
	
	<!-- Example docs (CSS for helping component example file)-->
	<link href="https://propeller.in/docs/css/example-docs.css" type="text/css" rel="stylesheet" />

	<!-- Propeller card (CSS for helping component example file) -->
	<link href="https://propeller.in/components/card/css/card.css" type="text/css" rel="stylesheet" />

	<!-- Propeller typography -->
	<link href="https://propeller.in/components/typography/css/typography.css" type="text/css" rel="stylesheet" />

	<!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://propeller.in/components/icons/css/google-icons.css" type="text/css" rel="stylesheet" />

	<!-- Propeller dropdown -->
	<link href="https://propeller.in/components/dropdown/css/dropdown.css" type="text/css" rel="stylesheet"/>

	<!-- Propeller navbar -->
	<link href="https://propeller.in/components/navbar/css/navbar.css" type="text/css" rel="stylesheet"/>
	
	<!-- Propeller button  -->
	<link href="https://propeller.in/components/button/css/button.css" type="text/css" rel="stylesheet"/>
	
	<!-- Propeller list  -->
	<link href="https://propeller.in/components/list/css/list.css" type="text/css" rel="stylesheet"/>

	<!-- Propeller sidebar  -->
	<link rel="stylesheet" type="text/css" href="../css/sidebar.css">
	
</head>

<body>

    <nav class="navbar navbar-inverse pmd-navbar navbar-fixed-top pmd-z-depth" style="position:absolute;">
      <div class="container-fluid">
		  
          <!-- Sidebar Toggle Button-->
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
             <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1000" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons md-light">menu</i></a>
             <a class="navbar-brand" href="javascript:void(0);">Brand</a> 
          </div>
          
          <!-- Navbar Right icon -->		
          <div class="pmd-navbar-right-icon pull-right"> 
              <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect"><i class="material-icons pmd-sm md-light">search</i></a>
              <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect topbar-toggle visible-xs-inline-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="material-icons pmd-sm">more_vert</i></a>
          </div> 
          <!-- /.navbar-collapse --> 
      </div>
      <!-- /.container-fluid --> 
    </nav>
    <section id="pmd-main">
        <!-- Left sidebar -->
        <aside id="basicSidebar" class="pmd-sidebar sidebar-default pmd-z-depth" role="navigation">
            <ul class="nav pmd-sidebar-nav">
                <!-- My Account -->
                <li class="dropdown pmd-dropdown pmd-user-info">
                    <a aria-expanded="false" data-sidebar="true" data-toggle="dropdown" class="btn-user dropdown-toggle media" href="javascript:void(0);">
                        <div class="media-left">
                            <img width="40" height="40" alt="avatar" src="http://propeller.in/assets/images/avatar-icon-40x40.png">
                        </div>
                        <div class="media-body media-middle">D,Material Admin</div>
                        <div class="media-right media-middle"><i class="material-icons pmd-sm">more_vert</i></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">person</i> <span class="media-body">View Profile</span></a></li>
                        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">settings</i> <span class="media-body">Settings</span></a></li>
                        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">history</i> <span class="media-body">Logout</span></a></li>
                    </ul>
                </li>
                <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">delete</i> <span class="media-body">Trash</span></a> </li>
                <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">notifications</i> <span class="media-body">Spam</span></a> </li>
                <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">notifications</i> <span class="media-body">Follow Up</span></a> </li>
            </ul>
        </aside>
        <!-- Start Content -->
        <div class="pmd-content custom-pmd-content" id="content">
            <h2 class="headline">Sidebar Constructor</h2>
            <p>This structure shows a permanent app bar with a floating action button. The app bar absorbs elements from the tablet and mobile bottom bars.</p>
            <p style="margin-bottom:0;">An optional bottom bar can be added for additional functionality or action overflow. A side nav overlays all other structural elements. A right nav menu can be accessed temporarily or pinned for permanent display.<br><br></p>
        </div>
        <div class="pmd-sidebar-overlay"></div>
        
    </section>

</body>

<!-- Jquery js -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap js -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Propeller Global js --> 
<script src="https://propeller.in/components/global/js/global.js"></script>
	
<!-- Propeller Sidebar js -->
<script type="text/javascript" language="javascript" src="../js/sidebar.js"></script>

<!-- Propeller Dropdown js -->
<script type="text/javascript" language="javascript" src="https://propeller.in/components/dropdown/js/dropdown.js"></script>

</html>
