<!-- Default outline button with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-default">Default</button>

<!-- Primary outline button with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-primary">Primary</button>

<!-- Success outline button with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-success">Success</button>

<!-- Information outline button with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-info">Info</button>

<!-- Warning outline button with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-warning">Warning</button>

<!-- Danger outline button with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-danger">Danger</button>

<!-- Link outline with ripple effect -->
<button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-link">Link</button>