<!--Default raised button with ripple effect-->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-default">Default</button>

<!--Primary raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-primary">Primary</button>

<!-- Success raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-success">Success</button>

<!-- Information raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-info">Info</button>

<!-- Warning raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-warning">Warning</button>

<!-- Danger raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-danger">Danger</button>

<!-- Link raised with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-link">Link</button>