<!-- Default button with a ripple effect -->
<button type="button" class="btn btn-default"> Default </button >

<!--Primary button with a ripple effect-->
<button type="button" class="btn btn-primary"> Primary </button >

<!--Success button with a ripple effect-->
<button type="button" class="btn btn-success"> Success </button >

<!--Information button with a ripple effect-->
<button type="button" class="btn btn-info"> Info </button >

<!--Warning button with a ripple effect -->
<button type="button" class="btn btn-warning"> Warning </button >

<!--Danger button with a ripple effect -->
<button type="button" class="btn btn-danger"> Danger </button >

<!--Link with a ripple effect -->
<button type="button" class="btn btn-link"> Link </button >