<!-- Default flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Default</button>

<!-- Primary flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>

<!-- Success flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-success">Success</button>

<!-- Information flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-info">Info</button>

<!-- Warning flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-warning">Warning</button>

<!-- Danger flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger">Danger</button>

<!-- Link flat with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-link">Link</button>