<!-- Default button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-default"> Default </button >

<!--Primary button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-primary"> Primary </button >

<!--Success button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-success"> Success </button >

<!--Information button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-info"> Info </button >

<!--Warning button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-warning"> Warning </button >

<!--Danger button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-danger"> Danger </button >

<!--Link with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-link"> Link </button >