<!--Select Multiple Tags -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label>Select Multiple Tags</label>
	<select class="select-tags form-control pmd-select2-tags" multiple>
	<option>Dallas Cowboys</option>
	<option>New York Giants</option>
	<option>Philadelphia Eagles</option>
	<option>Washington Redskins</option>
	<option>Chicago Bears</option>
	<option>Detroit Lions</option>
	<option>Green Bay Packers</option>
	<option>Minnesota Vikings</option>
	<option>Arizona Cardinals</option>
	<option>St. Louis Rams</option>
	<option>San Francisco 49ers</option>
	<option>Seattle Seahawks</option>
	<option>Baltimore Ravens</option>
	<option>Cincinnati Bengals</option>
	<option>Cleveland Browns</option>
	<option>Pittsburgh Steelers</option>
	<option>Houston Texans</option>
	<option>Indianapolis Colts</option>
	<option>Jacksonville Jaguars</option>
	<option>Tennessee Titans</option>
	<option>Denver Broncos</option>
	<option>Kansas City Chiefs</option>
	<option>Oakland Raiders</option>
	<option>San Diego Chargers</option>
	</select>
</div>