<!-- Simple checkbox with label, checked -->
<div class="checkbox pmd-default-theme">
    <label class="pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="" checked>
        <span>On</span>
    </label>
</div>

<!-- Simple checkbox with label -->
<div class="checkbox pmd-default-theme">
    <label class="pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="">
        <span> Option one is this and that&mdash;be sure to include why it's great</span>
    </label>
</div>

<!-- Simple checkbox with label, Disabled -->
<div class="checkbox pmd-default-theme disabled">
    <label class="pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="" disabled>
        <span>Option two is disabled</span>
    </label>
</div>