<!--Inline checkboxes-->
<form>
    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="" checked>
        <span> 1</span>
    </label>
    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="">
        <span> 2</span>
    </label>
    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="">
        <span> 3</span>
    </label>
    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
        <input type="checkbox" value="">
    </label>
</form>