<!-- Large Propeller  icon -->
<i class="material-icons md-dark pmd-lg">sentiment_dissatisfied</i>

<!-- Medium Propeller  icon -->
<i class="material-icons md-dark pmd-md">account_balance</i>

<!-- Small Propeller  icon -->
<i class="material-icons md-dark pmd-sm">supervisor_account</i>

<!-- Extra small Propeller  icon -->
<i class="material-icons md-dark pmd-xs">add_to_queue</i>

<!-- Default Google icon -->
<i class="material-icons md-dark pmd-md">sentiment_dissatisfied</i>

<!-- Default Inactive Google icon -->
<i class="material-icons md-dark pmd-md md-inactive">sentiment_dissatisfied</i>

<!-- Inverse Google icon -->
<i class="material-icons md-light pmd-md">sentiment_dissatisfied</i>

<!-- Inverse Inactive Google icon -->
<i class="material-icons md-light pmd-md md-inactive">sentiment_dissatisfied</i>

