<!--List with title and linked content -->
<div class="list-group pmd-z-depth pmd-card-list">
    <a href="javascript:void(0);" class="list-group-item ">
        <h3 class="list-group-item-heading">List group item heading</h3>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <h3 class="list-group-item-heading">List group item heading</h3>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <h3 class="list-group-item-heading">List group item heading</h3>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
</div>