<!--Group Items of diffrent types start -->
<ul class="list-group pmd-z-depth pmd-list pmd-card-list">
    <li class="list-group-item list-group-item-success">List group item with <code>success</code> class.</li>
    <li class="list-group-item list-group-item-info">List group item with <code>info</code> class.</li>
    <li class="list-group-item list-group-item-warning">List group item with <code>warning</code> class.</li>
    <li class="list-group-item list-group-item-danger">List group item with <code>danger</code> class.</li>
</ul>

<!--Group Items with Linking start -->
<div class="list-group pmd-z-depth pmd-list pmd-card-list"> 
    <a class="list-group-item list-group-item-success" href="javascript:void()0;">Linked List group item with <code>success</code> class.</a>
    <a class="list-group-item list-group-item-info" href="javascript:void()0;">Linked List group item with <code>info</code> class.</a>
    <a class="list-group-item list-group-item-warning" href="javascript:void()0;">Linked List group item with <code>warning</code> class.</a>
    <a class="list-group-item list-group-item-danger" href="javascript:void()0;">Linked List group item with <code>danger</code> class.</a>
</div>