<div class="row">
    <!-- Simple unordered list -->
    <div class="col-md-4"> 
        <ul>
          <li>First item</li>
          <li>Second item</li>
          <li>Third item
            <ul>
                <li>Nested First item</li>
                <li>Nested Second item</li>
            </ul>
          </li>
          <li>Forth item</li>
          <li>Fifth item</li>
        </ul>
    </div>
    <!-- Simple ordered list -->
    <div class="col-md-4"> 
        <ol>
            <li>First item</li>
            <li>Second item</li>
            <li>Third item
                <ol>
                    <li>Nested First item</li>
                    <li>Nested Second item</li>
                </ol>
            </li>
            <li>Forth item</li>
            <li>Fifth item</li>
        </ol>
    </div>
    <!-- Simple unstyled list -->
    <div class="col-md-4"> 
        <ul class="list-unstyled">
            <li>First item</li>
            <li>Second item
                <ul>
                    <li>Nested First item</li>
                    <li>Neted Second iteom</li>
                </ul>
            </li>
            <li>Third item</li>
            <li>forth item</li>
            <li>Fifth item</li>
        </ul>
    </div>
</div>
