<!-- Simple single line list -->
<ul class="list-group pmd-z-depth pmd-list pmd-card-list">
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
</ul>
<!-- Single line list with icons -->
<ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list-icon">
    <li class="list-group-item"> 
        <i class="material-icons media-left pmd-sm">mood</i> 
        <span class="media-body">Single-line item with icon</span>
    </li>
    <li class="list-group-item">
        <i class="material-icons media-left media-middle">notifications</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
    <li class="list-group-item"> <i class="material-icons media-left">person_add</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
    <li class="list-group-item"> <i class="material-icons media-left">share</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
    <li class="list-group-item"> <i class="material-icons media-left">drive_eta</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
</ul>