<!--Simple three-line list -->
<ul class="list-group pmd-z-depth pmd-list pmd-card-list">
    <li class="list-group-item">
        <div class="media-body">
            <h3 class="list-group-item-heading">Three-line item</h3>
            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>	
        </div>
    </li>
    <li class="list-group-item">
        <div class="media-body">
            <h3 class="list-group-item-heading">Three-line item</h3>
            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>	
        </div>
    </li>
    <li class="list-group-item">
        <div class="media-body">
            <h3 class="list-group-item-heading">Three-line item</h3>
            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>	
        </div>
    </li>
</ul>

<!--Three line list with icon -->
<ul class="list-group pmd-z-depth pmd-list pmd-card-list">
    <li class="list-group-item">
        <i class="material-icons media-left pmd-sm">mood</i>
        <div class="media-body">
            <h3 class="list-group-item-heading">Three-line item</h3>
            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>	
        </div>
    </li>
    <li class="list-group-item">
        <i class="material-icons media-left">notifications</i>
        <div class="media-body">
            <h3 class="list-group-item-heading">Three-line item</h3>
            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>	
        </div>
    </li>
    <li class="list-group-item">
        <i class="material-icons media-left">share</i>
        <div class="media-body">
            <h3 class="list-group-item-heading">Three-line item</h3>
            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>	
        </div>
    </li>
</ul>
                                		